



header{
    font-size: larger;
    text-align: center;
}

  @media screen and (min-width:1024px) {
    
header div  {
    transition: 3s;
}

    header div:hover{
        transform: scale(0.9)
        transition: 3sg;
        background-color: rgb(65, 3, 135);
        box-shadow: 1px 1px 1px black;
    }
    
  }



body {
    background-image:url(../img/buceoyfishes.JPG) ;
}

